.content-container {
  padding: 1rem;
}

.nav-links {
  display: flex;
  margin-left: 1rem;
}

.nav-link {
  font-size: 0.85rem;
  color: white;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
  transition: background-color 0.2s ease;
  display: flex;
  align-items: center;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.active-link {
  background-color: rgba(255, 255, 255, 0.2);
}
